.phone {
  position: relative;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}

.phone::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% - 3vh);
  height: calc(100% - 2vh);
  border-radius: 5vh;
}

.phone.expanded {
  transform: translateY(-23%) scale(1.3);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6.4vh 2.6vh 4.3vh;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.title {
  white-space: pre-line;
  padding: 0 2vh;
  font-size: 4.5vh;
  line-height: 3.7vh;
  margin: 3vh 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
}

.line {
  display: flex;
  justify-content: flex-start;
}

.letter {
  display: inline-block;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (orientation: portrait) and (max-width: 500px) {
  .phone {
    height: 100%;
    width: 100%;
  }

  .phone::before {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .phone.expanded {
    transform: initial;
  }

  .phone-img {
    visibility: hidden;
  }
}
