.App {
  /* text-align: center; */
  width: 100%;
  position: relative;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.Wrap {
  position: relative;
  z-index: 1;
}

.Wrap::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% - 15px);
  height: calc(100% - 10px);
  background-color: var(--wrap-bg-color, #91a482);
  border-radius: 60px;
}
