.play-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.8vh 0 0.8vh 1.1vh;
  border-color: transparent transparent transparent #000;
}

@keyframes spin-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-counterclockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.wheel-left {
  animation: spin-counterclockwise 10s linear infinite;
}

.wheel-right {
  animation: spin-clockwise 10s linear infinite;
}

@media (max-width: 1024px) {
  .dynamic-container {
    height: clamp(100px, 20vw, 206px);
  }

  .dynamic-text {
    font-size: clamp(48px, 20vw, 504px);
    line-height: clamp(200px, 40vw, 412px);
  }
}

@media (orientation: portrait) and (max-width: 500px) {
  .background {
    display: none;
  }
}
